<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Web.Mvc</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Web.Mvc.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="d-flex flex-column vh-150">
        <div class="d-flex flex-grow-1">
            <!-- Sidebar -->
            <div class="bg-primary text-white vh-100 p-3" style="width: 250px;">
                <h4>Crudify|Admin</h4>
                <ul class="nav flex-column">
                    <li class="nav-item"><a href="/dashboard.html" class="nav-link text-white">Dashboard</a></li>
                    <li class="nav-item"><a href="/login.html" class="nav-link text-white">Login Page</a></li>
                    <li class="nav-item"><a href="/register.html" class="nav-link text-white">Register Page</a></li>
                    <li class="nav-item"><a href="/formpage.html" class="nav-link text-white">Form Page</a></li>
                    <li class="nav-item"><a href="/tablePage.html" class="nav-link text-white">Table Page</a></li>
                    <li class="nav-item"><a href="/error401.html" class="nav-link text-white">Error 401</a></li>
                    <li class="nav-item"><a href="/error403.html" class="nav-link text-white">Error 403</a></li>
                    <li class="nav-item"><a href="/error404.html" class="nav-link text-white">Error 404</a></li>
                    <li class="nav-item"><a href="/error500.html" class="nav-link text-white">Error 500</a></li>
                </ul>
            </div>

            <!-- Content -->
            <div class="p-1 flex-grow-1">
                <div class="p-1 flex-grow-1">
                    <!-- Top Navbar -->
                    <nav class="navbar navbar-expand-lg navbar-white bg-white rounded shadow-sm mb-4">

                        <div class="container-fluid justify-content-end">
                            <span class="navbar-text me-3">
                                Hi, Admin
                            </span>
                            <a href="/logout.html" class="btn btn-outline-danger btn-sm">Logout</a>
                        </div>
                    </nav>


                    <!-- Cards Section -->
                    <div class="row">
                        @RenderBody()
                    </div>
                </div>
            </div>


        </div>
        <!-- Footer -->
        <footer class="bg-primary text-white text-center p-2">
            <p>Copyright © Crudify|Admin 2025</p>
        </footer>
</body>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</html>
